name: CI

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: actions/setup-node@v4
      with:
        node-version: 22.x

    - name: Install Dependencies
      run: |
        npm ci

    - name: Build Library
      run: |
        npm run build

    - name: Package Library for npm
      run: |
        npm pack

    - uses: actions/upload-artifact@v4
      with:
        name: openfl-npm
        path: openfl-*.tgz
        if-no-files-found: error

    - name: Run Tests
      run: |
        npm test
